<h1>Pair Students</h1>
<form action="/manager/add_student" method="get">
  <input type="text" placeholder="First Name" id="firstName" name="firstName"/>
  <input type="text" placeholder="Last Name" id="lastName" name="lastName"/>
  <select id="classNumber" name="classNumber">
    <% if Student.maximum('class_number').nil? %>
      <option value="1">1</option>
    <% else %>
      <% (Student.maximum('class_number')+1).times do |i| %>
        <option value="<%=i+1%>"><%=i+1%></option>
      <% end %>
    <% end %>
  </select>
  <input type="submit" value="Add Student"/>
</form>

<form action="/display/see_class" method="get">
  <select id="seeClass" name="seeClass">
    <% if Student.maximum('class_number').nil? %>
      <option value="No Classes">No Classes</option>
    <% else %>
      <% (Student.maximum('class_number')).times do |i| %>
        <option value="Class <%=i+1%>">Class <%=i+1%></option>
      <% end %>
    <% end %>
  </select>
  <input type="submit" value="See Class"/>
</form>

<ul>
  <% if !@class_students.nil? %>
    <% @class_students.each do |student| %>
      <li><%= "#{student.first_name} #{student.last_name}"%></li>
    <% end %>
  <% end %>
</ul>
